@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  :root {
    /* =========================
       Backgrounds
    ========================= */
     --background: 0,12.5%,96.86%;
    --foreground: 210 9% 31%;         /* #495057 */

    --card: 0 0% 100%;
    --card-foreground: 210 9% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 31%;

    /* =========================
       Brand Colors
    ========================= */
    --primary: 356 86% 50%;             /* Thai Heritage Red #E63946 */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 17% 8%;           /* Soft Slate #457B9D */
    --secondary-foreground: 0 0% 100%;

    --soft-slate: 210 13% 50%;

    --accent: 190 53% 75%;              /* Safety Blue #A8DADC */
    --accent-foreground: 210 9% 20%;

    /* =========================
       UI Neutrals
    ========================= */
    --muted: 210 17% 98%;               /* Off-white #F8F9FA */
    --muted-foreground: 210 9% 45%;

    --border: 210 16% 92%;              /* Border Gray #E9ECEF */
    --input: 210 16% 92%;
    --ring: 355 78% 56%;

    --radius: 0.75rem;
  }

   body {
    @apply bg-background text-foreground;
  }

  /* =========================
     Dark Mode (Optional)
  ========================= */
  .dark {
    --background: 215 28% 12%;          /* Deep Charcoal #1D3557 */
    --foreground: 210 40% 98%;

    --card: 215 28% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 215 28% 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 355 78% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 34% 44%;
    --secondary-foreground: 0 0% 100%;

    --accent: 190 53% 60%;
    --accent-foreground: 210 40% 98%;

    --muted: 215 20% 20%;
    --muted-foreground: 215 15% 65%;

    --border: 215 20% 22%;
    --input: 215 20% 22%;
    --ring: 355 78% 56%;
  }

  @theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
}


@layer components {
   header {
    @apply sticky top-0 z-50 container;

    nav {
      @apply flex flex-row justify-between mx-auto container sm:px-10 px-5 py-4;
    }

    .logo {
      @apply flex flex-row items-center gap-2;

      p {
        @apply text-xl font-bold italic max-sm:hidden;
      }
    }

    ul {
      @apply flex flex-row items-center gap-6;
    }
  }
}

}
